body {
  font-family: "Roboto", sans-serif;

  background-color: #fbfbfb;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.icon-advantages {
  width: 64px;
  height: 64px;
}

.title {
  padding: 30px 300px 30px 50px;

  font-family: "Poppins";
  font-size: 42px;
  font-weight: 500;
  line-height: calc(63 / 42);

  text-transform: uppercase;

  color: #036;
}

.subtitle {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: calc(36 / 24);

  text-transform: uppercase;

  color: #036;
}

.container {
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* STYLES OF HEADER  */
.header {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 50px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-link {
  padding: 12px 8px;

  display: flex;
  align-items: center;
  gap: 4px;

  font-weight: 500;
  line-height: calc(16 / 16);

  color: #343434;
}

.header-link.current {
  position: relative;

  color: #036;
}

.header-link.current::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  display: block;

  background-color: #036;
}

.icon-courses {
  width: 20px;
  height: 20px;
}

.header-button {
  padding: 14px 30px;

  font-size: 20px;
  line-height: calc(30 / 20);

  color: #fff;
  border-radius: 14px;
  border: none;
  background-color: #036;
}

/* STYLES OF HERO  */
.hero {
  margin-bottom: 50px;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.main-bar {
  padding: 100px 80px;

  flex-grow: 1;

  border-radius: 20px;
  background-color: #036;
}

.hero-title {
  margin-bottom: 16px;

  max-width: 729px;

  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: calc(58 / 48);
  text-transform: uppercase;

  color: #fbfbfb;
}

.hero-title > .title-style {
  margin-bottom: 4px;

  display: block;
}

.hero-text {
  margin-bottom: 40px;

  font-size: 18px;
  line-height: calc(27 / 18);

  color: #fbfbfb;
}

.hero-button {
  padding: 14px 20px;

  font-size: 20px;
  line-height: calc(30 / 20);

  color: #036;

  border-radius: 14px;
  border: none;
  background-color: #fbfbfb;
}

.sidebar {
  width: 433px;
}

/* STYLES OF ADVANTAGES  */
.advantages {
  padding-top: 50px;
  padding-bottom: 53px;

  background-color: #e0e7ef;
}

.container-advantages {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-advantages {
  margin-bottom: 20px;

  background-color: #fbfbfb;
  border-radius: 16px;
}

.list-advantages {
  display: flex;
  gap: 23px;
}

.item-advantages {
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  background-color: #fbfbfb;
  border-radius: 14px;
}

.text-advantages {
  font-size: 18px;
  line-height: calc(27 / 18);

  text-align: center;

  color: #343434;
}

.subtitle-advantage {
  text-align: center;
}
